/******************************
GENERAL
*******************************/

body{
    font-family: 'Open Sans', sans-serif;
}
/*section styling*/
#wrapper{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

/*link styles*/
a{
    text-decoration: none;
    color: #6ab47b;
}

img{
    max-width: 100%;
}

h3{
    margin: 0 0 1em 0;
    font-family: 'Open Sans', sans-serif ;
}


/******************************
HEADING
*******************************/

header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    position: fixed;
    top: 0;

}

/*logo alignment*/
#logo{
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Rock Salt', cursive;    margin: 10px 0;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.2em;
}
h2{
    font-size: 2em;
    margin: -15px 0 0;
    font-weight: lighter;
    font-family: 'Permanent Marker', cursive;}



/******************************
NAVIGATION
*******************************/

nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    margin: 0 10px;
    padding: 0;
}
nav li{
    display: inline-block;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.8em;
}

nav a{
    font-weight: 800;
    padding: 15px 15px;
}


/******************************
FOOTER
*******************************/

footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}
.social-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/******************************
PAGE: PORTFOLIO
*******************************/

#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background: #f5f5f5;
    color: #bdd3c7;
}

#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: .7em;
    color: #bdd3c7;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}



/******************************
PAGE: ABOUT
*******************************/
.profile-pic{
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
}



/******************************
PAGE: CONTACT
*******************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}
.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a{
    background-image: url("../img/phone.png");
}
.contact-info li.mail a{
    background-image: url("../img/mail.png");
}
.contact-info li.twitter a{
    background-image: url("../img/twitter.png");
}


/******************************
COLORS
*******************************/

/*Site Body*/
body{
    background: #ccffff;
    color: #999;
}
/*green header*/
header{
    background: deepskyblue;
    border-color:#599a68;
}
/*logo text*/
h1, h2{
    color: #fff;
}
/*nav bg on mobile*/
nav{
    background: dodgerblue;
}
/*nav links color*/
nav a, nav a:visited{
    color: #fff;
}
/*selected nav link color*/
nav a.selected, nav a:hover{
    color: #32673f;
}








